<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
</head>


<body class="bg-gray-100">
    <div id="app" class="max-w-3xl mx-auto">
        <div class="chat-container bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="chat-header bg-gray-800 text-white py-4 px-6 flex justify-between">
                <h1 class="text-lg font-bold">Group Chat - {{currentUser}}</h1>
                <div>
                    <button @click="showUsersDropdown = !showUsersDropdown"
                        class="ml-4 bg-gray-700 text-white py-2 px-4 rounded-lg">
                        Users ({{users.length}})
                    </button>
                    <div v-if="showUsersDropdown" class="absolute bg-black shadow-lg rounded-lg mt-2 py-2 w-48">
                        <ul>
                            <li v-for="user in users" class="px-4 py-2 text-">{{ user }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chat-body p-6">
                <div v-for="message in messages">
                    <div class="chat-message  flex flex-col mb-4 justify-start">
                        <div class="username font-bold text-sm"
                            :class="{'text-right': isCurrentUser(message.username)}">{{isCurrentUser(message.username) ?
                            'You': message.username }}</div>
                        <div class="text bg-gray-200 rounded-lg py-2 px-4 inline-block w-auto self-start"
                            :class="{'self-end bg-gray-700 text-white' : isCurrentUser(message.username)}">{{ message.text }}</div>
                    </div>
                </div>
            </div>
            <div class="chat-input bg-gray-200 p-6 flex items-center">
                <input type="text" id="message" @keyup.enter="send" placeholder="Type your message..." v-model="message"
                    class="flex-1 py-2 px-4 rounded-lg mr-4">
                <button id="send" @click="send" class="bg-gray-800 text-white py-2 px-4 rounded-lg">Send</button>
            </div>
        </div>

        <div id="change_username" class="mt-6">
            <div class="chat-input bg-gray-200 p-6 flex items-center">
                <input type="text" id="username" @keyup.enter="changeUsername" v-model="username"
                    class="flex-1 py-2 px-4 rounded-lg mr-4">
                <button id="change_username" @click="changeUsername"
                    class="bg-gray-800 text-white py-2 px-4 rounded-lg">Change Username</button>
            </div>
        </div>
    </div>
</body>
<script>
    //connect to server
    var socket = new WebSocket('ws://localhost:3001');

    const addMessage = (message) => {
        //add message to messages
        Vue.set(app.messages, app.messages.length, message);
        scrollToBottom();
    }

    const setMessages = (messages) => {
        //set messages
        Vue.set(app, 'messages', messages);
    }
    const updateMessages = ({oldUsername, newUsername}) => {
        const messages = app.messages;

        //update messages
        messages.forEach((message) => {
            if (message.username === oldUsername) {
                message.username = newUsername;
            }
        });

        if(app.currentUser === oldUsername){
            setCurrentUser(newUsername);
        }
        //set messages
        Vue.set(app, 'messages', messages);
    }

    const setUsers = (users) => {
        //set users
        Vue.set(app, 'users', users);
    }
    const setCurrentUser = (username) => {
        Vue.set(app, 'currentUser', username);
    }

    const removeUser = (user) => {
        //remove user from users
        const index = app.users.indexOf(user);
        if (index !== -1) {
            Vue.delete(app.users, index);
        }
    }

    const addUser = (user) => {
        //add user to users
        Vue.set(app.users, app.users.length, user);
    }

    socket.addEventListener('message', function (event) {
        //get message from server
        var message = JSON.parse(event.data);

        switch (message.type) {
            case "MESSAGES_ADD":
                addMessage(message.data);
                break;
            case 'USERS_SET':
                setUsers(message.data);
                break;
            case 'MESSAGES_SET':
                setMessages(message.data);
                break;
            case 'USERS_REMOVE':
                removeUser(message.data);
                break;
            case 'ADD_USER':
                addUser(message.data);
                break;
            case 'USER_SET':
                setCurrentUser(message.data);
                break;
            case 'USER_CHANGE_USERNAME':
                updateMessages(message.data);
                break;
        }
    });
</script>
<script>
    //create a vue instance
    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            username: '',
            currentUser: '',
            showUsersDropdown: false,
            messages: [],
            users: []
        },
        methods: {
            send: function () {
                if(this.message === '') return;
                //send message to server
                socket.send(JSON.stringify({ text: this.message }));
                //clear message
                this.message = '';
                scrollToBottom();
            },
            changeUsername: function () {
                if(this.username === '') return;
                //send message to server
                socket.send(JSON.stringify({ type: "CHANGE_USERNAME", data: this.username }));
                //clear message
                this.username = '';
            },
            isCurrentUser: function (username) {
                return this.currentUser === username;
            }
        },
        mounted() {
            scrollToBottom();
        },

    });

    const scrollToBottom = () => {
        setTimeout(() => {
            //scroll the page to the end
            setTimeout(() => {
                window.scrollTo(0, document.body.scrollHeight);
            }, 100);
        }, 100);
    }

</script>

</html>